/target/
Cargo.lock
bazel-*
buck-out
/.direnv
.buckconfig.local
.envrc.local
.DS_Store

# symlinks
/examples/with_prelude/prelude
/examples/with_prelude/third-party/ocaml/opam
/examples/with_prelude/third-party/haskell/ghc
/examples/with_prelude/third-party/ocaml/standard_library
